langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
Pymupdf
python-docx
docx2txt
unstructured[docx]
Pandas
openpyxl
jq
Matplotlib
faiss-gpu

# Embedding models
langchain-huggingface
sentence-transformers

